<% mailer_host = Rails.application.config.action_mailer.default_url_options[:host] %>
<% share_code =  "#{mailer_host}?ref=#{@user.referral_code}" %>

<% fb_link = "http://www.facebook.com/sharer/sharer.php?u=#{CGI::escape(mailer_host || "")}\
?ref=#{CGI::escape(@user.referral_code)}&title=NFood" %>
<% tw_messagr = @twitter_message + "\n#{share_code}" %>
<% tw_link = "http://twitter.com/share?url=#{CGI::escape(mailer_host || "")}\
?ref=#{CGI::escape(@user.referral_code)}&text=#{ CGI::escape(tw_messagr)}" %>


<% img_fork = "http://#{mailer_host}/images/email_img_fork.png" %>
<% img_fb = "http://#{mailer_host}/images/email_img_fb.jpg" %>
<% img_tw = "http://#{mailer_host}/images/email_img_tw.jpg" %>
<% img_banner = "http://#{mailer_host}/images/email_img_banner.jpg" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Wooshi-Restaurant Template</title>
<style type="text/css">
         /* Client-specific Styles */
         #outlook a {padding:0;} /* Force Outlook to provide a "view in browser" menu link. */
         body{width:100% !important; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; margin:0; padding:0;}
         /* Prevent Webkit and Windows Mobile platforms from changing default font sizes, while not breaking desktop design. */
         .ExternalClass {width:100%;} /* Force Hotmail to display emails at full width */
         .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {line-height: 100%;} /* Force Hotmail to display normal line spacing.  */
         #backgroundTable {margin:0; padding:0; width:100% !important; line-height: 100% !important;}
         img {outline:none; text-decoration:none;border:none; -ms-interpolation-mode: bicubic;}
         a img {border:none;}
         .image_fix {display:block;}
         p {margin: 0px 0px !important;}
         table td {border-collapse: collapse;}
         table { border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt; }
         a {color: #33b9ff;text-decoration: none;text-decoration:none!important;}
         /*STYLES*/
         table[class=full] { width: 100%; clear: both; }
         /*IPAD STYLES*/
         @media only screen and (max-width: 640px) {
         a[href^="tel"], a[href^="sms"] {
         text-decoration: none;
         color: #33b9ff; /* or whatever your want */
         pointer-events: none;
         cursor: default;
         }
         .mobile_link a[href^="tel"], .mobile_link a[href^="sms"] {
         text-decoration: default;
         color: #33b9ff !important;
         pointer-events: auto;
         cursor: default;
         }
         table[class=devicewidth] {width: 440px!important;text-align:center!important;}
         table[class=devicewidthinner] {width: 420px!important;text-align:center!important;}
         img[class=banner] {width: 440px!important;height:220px!important;}
         img[class=colimg2] {width: 440px!important;height:220px!important;}
         
         
         }
         /*IPHONE STYLES*/
         @media only screen and (max-width: 480px) {
         a[href^="tel"], a[href^="sms"] {
         text-decoration: none;
         color: #ffffff; /* or whatever your want */
         pointer-events: none;
         cursor: default;
         }
         .mobile_link a[href^="tel"], .mobile_link a[href^="sms"] {
         text-decoration: default;
         color: #ffffff !important; 
         pointer-events: auto;
         cursor: default;
         }
         table[class=devicewidth] {width: 280px!important;text-align:center!important;}
         table[class=devicewidthinner] {width: 260px!important;text-align:center!important;}
         img[class=banner] {width: 280px!important;height:140px!important;}
         img[class=colimg2] {width: 280px!important;height:140px!important;}
         td[class="padding-top15"]{padding-top:15px!important;}
         
        
         }
      </style>
</head>
<body>
<!-- Start of preheader -->

<!-- End of preheader -->

<!-- Start of header -->

<!-- End of Header -->

<!-- Start of main-banner -->

<!-- End of main-banner -->

<!-- Start of seperator -->

<!-- End of seperator -->

<!-- Start of heading -->

<!-- End of heading -->

<!-- 2columns -->

<!-- end of 2 columns -->

<!-- 2columns -->

<!-- end of 2 columns -->

<!-- Start of seperator -->

<!-- End of seperator -->

<!-- Start of heading -->

<!-- End of heading -->

<!-- article -->

<!-- end of article -->

<!-- article -->

<!-- end of article -->

<!-- Start of seperator -->

<!-- End of seperator -->

<!-- footer -->

<!-- end of footer -->

<!-- Start of Postfooter -->

<!-- End of postfooter -->

<table width="100%" bgcolor="#2a2a2a" cellpadding="0" cellspacing="0" border="0" st-sortable="header"><tbody><tr>
<td>
        <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth" hasbackground="true"><tbody><tr>
<td width="100%">
                <table bgcolor="#d41b29" width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth"><tbody>
<!-- Spacing --><tr>
<td height="5" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">
                      </td>
                    </tr>
<!-- Spacing --><tr>
<td>
                        <!-- logo -->

                        <table width="140" align="left" border="0" cellpadding="0" cellspacing="0" class="devicewidth"><tbody><tr>
<td width="140" height="60" align="center">
                                <div class="imgpop">
                                  <a href="#"><img src="<%= img_fork %>" alt="" border="0" width="118" height="60" style="display:block; border:none; outline:none; text-decoration:none;" st-image="logo" id="54ck3ares015f8e3h2zmy4x6r"></a>
                                </div>
                              </td>
                            </tr></tbody></table>
<!-- end of logo --><!-- start of menu --><table width="250" border="0" align="right" valign="middle" cellpadding="0" cellspacing="0" class="devicewidth"><tbody><tr>
<td align="center" style="font-family: Helvetica, arial, sans-serif; font-size: 20px;color: #ffffff" st-content="phone" height="60">
                                <p>
                                  Gracias por tu registro
                                </p>
                              </td>
                            </tr></tbody></table>
<!-- end of menu -->
</td>
                    </tr>
<!-- Spacing --><tr>
<td height="5" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">
                      </td>
                    </tr>
<!-- Spacing -->
</tbody></table>
</td>
            </tr></tbody></table>
</td>
    </tr></tbody></table>
<table width="100%" bgcolor="#2a2a2a" cellpadding="0" cellspacing="0" border="0" st-sortable="banner"><tbody><tr>
<td>
        <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth" hasbackground="true"><tbody><tr>
<td width="100%">
                <table width="600" align="center" cellspacing="0" cellpadding="0" border="0" class="devicewidth"><tbody><tr>
<!-- start of image --><td align="center">
                        <div class="imgpop">
                          <a href="#"><img width="600" border="0" height="300" alt="" style="display:block; border:none; outline:none; text-decoration:none;" src="<%= img_banner %>" class="banner" st-image="banner-image" id="f9ogb5hb1nsa6kbszwfhzd7vi"></a>
                        </div>
                      </td>
                    </tr></tbody></table>
<!-- end of image -->
</td>
            </tr></tbody></table>
</td>
    </tr></tbody></table>
<table width="100%" bgcolor="#2a2a2a" cellpadding="0" cellspacing="0" border="0" st-sortable="title"><tbody><tr>
<td>
        <table width="600" bgcolor="#d41b29" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth" hasbackground="true"><tbody><tr>
<td width="100%">
                <table width="600" align="center" cellspacing="0" cellpadding="0" border="0" class="devicewidth"><tbody><tr>
<td align="center" style="font-family: Helvetica, arial, sans-serif; font-size: 24px; color: #ffffff; padding: 15px 0;" st-content="heading">
                        <p>
                          ¡Serás el primero en saber cuando lancemos NFood!
                        </p>
                      </td>
                    </tr></tbody></table>
</td>
            </tr></tbody></table>
</td>
    </tr></tbody></table>
<table width="100%" bgcolor="#2a2a2a" cellpadding="0" cellspacing="0" border="0" st-sortable="seperator"><tbody><tr>
<td>
        <table width="600" align="center" cellspacing="0" cellpadding="0" border="0" class="devicewidth" hasbackground="true"><tbody><tr>
<td align="center" height="30" style="font-size:1px; line-height:1px;" st-content="separator">
                <p>
                </p>
              </td>
            </tr></tbody></table>
</td>
    </tr></tbody></table>
<table width="100%" bgcolor="#2a2a2a" cellpadding="0" cellspacing="0" border="0" st-sortable="title"><tbody><tr>
<td>
        <table width="600" bgcolor="#d41b29" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth" hasbackground="true"><tbody><tr>
<td width="100%">
                <table width="600" align="center" cellspacing="0" cellpadding="0" border="0" class="devicewidth"><tbody><tr>
<td align="center" style="font-family: Helvetica, arial, sans-serif; font-size: 24px; color: #ffffff; padding: 15px 0;" st-content="heading">
                        <p>
                          Comparte con tus amigos
                        </p>
                        <p>
                          y gana comida gratis.
                        </p>
                      </td>
                    </tr></tbody></table>
</td>
            </tr></tbody></table>
</td>
    </tr></tbody></table>
<table width="100%" bgcolor="#2a2a2a" cellpadding="0" cellspacing="0" border="0" st-sortable="2-images-columns"><tbody><tr>
<td>
        <table width="600" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth" hasbackground="true"><tbody><tr>
<td width="100%">
                <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth"><tbody><tr>
<td>
                        <table width="290" align="left" border="0" cellpadding="0" cellspacing="0" class="devicewidth"><tbody>
<!-- Spacing --><tr>
<td width="100%" height="20">
                              </td>
                            </tr>
<!-- Spacing --><tr>
<td>
                                <!-- start of text content table -->

                                <table width="270" align="right" border="0" cellpadding="0" cellspacing="0" class="devicewidth"><tbody>
<!-- image --><tr>
<td width="270" align="center" class="devicewidth">
                                        <div class="imgpop">
                                          <a href="<%= fb_link %>"><img src="<%= img_fb %>" alt="" border="0" width="270" height="150" style="display:block; border:none; outline:none; text-decoration:none;" class="colimg2" st-image="right-image" id="wkqnjcihe936ilf8m54jkyb9"></a>
</div>
                                      </td>
                                    </tr>
<!-- title --><tr>
<td width="270" bgcolor="#d41b29" height="50">
                                        <table width="218" align="left" border="0" cellpadding="0" cellspacing="0" style="border: 1px solid #d41b29;"><tbody><tr>
<a href="<%= fb_link %>">
<td style="font-family: Helvetica, arial, sans-serif; font-size: 18px; color: #ffffff; padding-left: 10px;" align="left" height="50" st-content="text-content">

                                                <p style="text-align: center;">
                                                  COMPARTE
                                                </p>
                                              </td>
</a>

                                            </tr></tbody></table>
<table width="48" align="right" border="0" cellpadding="0" cellspacing="0" style="border: 1px solid #000000;"><tbody><tr>
<td style="font-family: Helvetica, arial, sans-serif; font-size: 18px; color: #ffffff;" bgcolor="#000000" align="center" height="50" st-content="text-content">
                                                <p>
                                                </p>
                                              </td>
                                            </tr></tbody></table>
</td>
                                    </tr>
<!-- end of title -->
</tbody></table>
</td>
                            </tr>
<!-- end of text content table -->
</tbody></table>
<!-- end of left column --><!-- start of right column --><table width="290" align="right" border="0" cellpadding="0" cellspacing="0" class="devicewidth"><tbody>
<!-- Spacing --><tr>
<td width="100%" height="20">
                              </td>
                            </tr>
<!-- Spacing --><tr>
<td>
                                <!-- start of text content table -->

                                <table width="270" align="left" border="0" cellpadding="0" cellspacing="0" class="devicewidth"><tbody>
<!-- image --><tr>
<td width="270" align="center" class="devicewidth">
                                        <div class="imgpop">
                                          <a href="<%= tw_link %>"><img src="<%= img_tw %>" alt="" border="0" width="270" height="150" style="display:block; border:none; outline:none; text-decoration:none;" class="colimg2" st-image="right-image" id="8sjz8ria93sbm9xyf8g833di"></a>
</div>
                                      </td>
                                    </tr>
<!-- title --><tr>
<td width="270" bgcolor="#d41b29" height="50">
                                        <table width="218" align="left" border="0" cellpadding="0" cellspacing="0" style="border: 1px solid #d41b29;"><tbody><tr>
<a href="<%= tw_link %>"><td style="font-family: Helvetica, arial, sans-serif; font-size: 18px; color: #ffffff; padding-left: 10px;" height="50" align="left" st-content="text-content">
                                                <p style="text-align: center;">
                                                  COMPARTE
                                                </p>
                                              </td>
                                              </a>
                                            </tr></tbody></table>
<table width="48" align="right" border="0" cellpadding="0" cellspacing="0" style="border: 1px solid #000000;"><tbody><tr>
<td style="font-family: Helvetica, arial, sans-serif; font-size: 18px; color: #ffffff;" bgcolor="#000000" height="50" align="center" st-content="text-content">
                                                <p>
                                                </p>
                                              </td>
                                            </tr></tbody></table>
</td>
                                    </tr>
<!-- end of title --><!-- end of content -->
</tbody></table>
</td>
                            </tr>
<!-- end of text content table -->
</tbody></table>
<!-- end of right column -->
</td>
                    </tr></tbody></table>
</td>
            </tr></tbody></table>
</td>
    </tr></tbody></table>
<table width="100%" bgcolor="#2a2a2a" cellpadding="0" cellspacing="0" border="0" st-sortable="preheader"><tbody><tr>
<td>
        <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth" hasbackground="true"><tbody><tr>
<td width="100%">
                <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth"><tbody>
<!-- Spacing --><tr>
<td width="100%" height="10">
                      </td>
                    </tr>
<!-- Spacing --><tr>
<td>
                        <table width="48%" align="left" border="0" cellpadding="0" cellspacing="0"><tbody><tr>
<td align="left" valign="middle" style="font-family: Helvetica, arial, sans-serif; font-size: 13px;color: #282828" st-content="viewonline">
                                <p>
                                  <span style="text-decoration: none; color: #ffffff">O copia y pega para compartir</span>
                                </p>
                              </td>
                            </tr></tbody></table>
<table width="48%" align="right" border="0" cellpadding="0" cellspacing="0"><tbody><tr>
<td align="right" valign="middle" style="font-family: Helvetica, arial, sans-serif; font-size: 13px;color: #282828" st-content="forward">
                                <p>
                                  <span style="color: rgb(204, 255, 255);"></span>wwwasdfasfdaswwwwww<span style="color: rgb(204, 255, 255);">﻿<%= share_code %></span><span style="color: rgb(204, 255, 255);"></span>
                                </p>
                              </td>
                            </tr></tbody></table>
</td>
                    </tr>
<!-- Spacing --><tr>
<td width="100%" height="10">
                      </td>
                    </tr>
<!-- Spacing -->
</tbody></table>
</td>
            </tr></tbody></table>
</td>
    </tr></tbody></table>
<table width="100%" bgcolor="#2a2a2a" cellpadding="0" cellspacing="0" border="0" st-sortable="title"><tbody><tr>
<td>
        <table width="600" bgcolor="#d41b29" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth" hasbackground="true"><tbody><tr>
<td width="100%">
                <table width="600" align="center" cellspacing="0" cellpadding="0" border="0" class="devicewidth"><tbody><tr>
<td align="center" style="font-family: Helvetica, arial, sans-serif; font-size: 24px; color: #ffffff; padding: 15px 0;" st-content="heading">
                        <p>
                          La mejor comida del vecindario te esta esperando.
                        </p>
                      </td>
                    </tr></tbody></table>
</td>
            </tr></tbody></table>
</td>
    </tr></tbody></table>
<table width="100%" bgcolor="#2a2a2a" cellpadding="0" cellspacing="0" border="0" st-sortable="footer"><tbody><tr>
<td>
        <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth" hasbackground="true"><tbody><tr>
<td width="100%">
                <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth"><tbody>
<!-- Spacing --><tr>
<td width="100%" height="21">
                      </td>
                    </tr>
<!-- Spacing --><tr>
<td align="center" valign="middle" style="font-family: Helvetica, arial, sans-serif; font-size: 13px;color: #ffffff" st-content="preheader">
                        <p>
                          Espera noticias nuestras pronto.
                        </p>
                        <p>
                          <a href="http://www.nfood.mx">www.nfood.mx</a><a href="http://www.nfood.mx"><span st-unsubscribe="st-unsubscribe" style="text-decoration: none; color: #d41b29"></span></a>
                        </p>
                      </td>
                    </tr>
<!-- Spacing --><tr>
<td width="100%" height="20">
                      </td>
                    </tr>
<!-- Spacing -->
</tbody></table>
</td>
            </tr></tbody></table>
</td>
    </tr></tbody></table>
<table width="100%" bgcolor="#2a2a2a" cellpadding="0" cellspacing="0" border="0" st-sortable="seperator"><tbody><tr>
<td>
        <table width="600" align="center" cellspacing="0" cellpadding="0" border="0" class="devicewidth" hasbackground="true"><tbody><tr>
<td align="center" height="30" style="font-size:1px; line-height:1px;" st-content="separator">
                <p>
                </p>
              </td>
            </tr></tbody></table>
</td>
    </tr></tbody></table>
</body>
</html>