<div class="key"></div>
<p class="byline brandon">Sé el primero en saborear</p>
<%= form_for @user, :url => { :action => "create" } do |f| %>
  <%= f.text_field :email, :placeholder => "Ingresa tu correo electrónico", :class => "email brandon" %>
  <input class="submit brandon" name="commit" type="submit" value="Registrarme" />
<% end %>