<p class="thanks brandon">GRACIAS POR PARTICIPAR<br>EN NUESTRO PRE LANZAMIENTO.</p>
<p class="compiling brandon">ESTAMOS RECOMPILANDO LOS PREMIOS AHORA Y MANDAREMOS POR CORREO <br/>LOS CUPONES PARA RECLAMAR EL PREMIO EN LOS PROXIMOS DIAS</p>
<p class="go-to brandon">Mientras tanto, dirígete a  <a href="http://www.nfood.mx/">WWW.NFOOD.MX</a></p>
<p class="again brandon">¡Muchas gracias una vez más!</p>