<div class="hero">
  <p class="large brandon">NFood ya viene</p>
  <p class="small brandon">El sabor de tu cocina<br>a unos clics de distancia.</p>
</div>

<div class="form-wrap clearfix <%= "ended" if Rails.application.config.ended %>">
  <% if Rails.application.config.ended %>
    <%= render "users/campaign_ended" %>
  <% else %>
    <%= render "users/campaign_ongoing" %>
  <% end %>
</div>