<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6 <%= @bodyId %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7 <%= @bodyId %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8 <%= @bodyId %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9 <%= @bodyId %>"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="<%= @bodyId %>"> <!--<![endif]-->
<head>
  <title>NFood &ndash; Dile a tus amigos, come gratis</title>
  <link rel="icon" href="<%= asset_path('favicon.ico') %>" type="image/x-icon">
  <link rel="shortcut icon" href="<%= asset_path('favicon.ico') %>" type="image/x-icon">

  
  <meta property="description" content="El placer de la comida casera. La mejor comida del vecindario. Descubre NFood aquí."/>
  <meta property="keywords" content="neighbourfood, nfood, comida, comida casera, comida a domicilio, comida saludable"/>
  <meta property="og:title" content="¡Neighbour Food ya viene!"/>
  <meta property="og:description" content="El placer de la comida casera. La mejor comida del vecindario. Descubre NFood aquí."/>
  <meta property="og:image" content="<%= asset_path("refer/truman.png") %>"/>
  <meta property="og:url" content="<%= root_url %>"/>
  <% if @is_mobile %>
    <% if @bodyId == 'home' %>
      <meta name="viewport" content="width=1600" />
    <% else %>
      <meta name="viewport" content="width=1120" />
    <% end %>
  <% end %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/universal_google_analytics' %>
</head>
<body id="<%= @bodyId %>">

<%= yield %>

<%= render 'layouts/footer' %>

</body>
</html>
